<link href="style.css" rel="stylesheet" />
<table ng-if="state == 'root.home'" border="1">
    <tr>
        <td>Date</td>
        <td>Value</td>
    </tr>
    <tr ng-repeat="row in myData">
        <td>{{row[columns[dateIndex]] | date: 'yyyy-MM-dd'}}</td>
        <td><center>{{row[columns[valIndex]]}}</center></td>
    </tr>
</table>

<table ng-if="state == 'root.compare'" border="1">
    <tr>
        <td>Date</td>
        <td>Income from Fund</td>
        <td>Income from Investment</td>
    </tr>
    <tr ng-repeat="row in myData">
        <td>{{row[columns[dateIndex]] | date: 'yyyy-MM-dd'}}</td>
        <td><center>{{row[columns[fundIndex]]}}</center></td>
        <td><center>{{row[columns[investIndex]]}}</center></td>
    </tr>
</table>

