<div flex layout="row">
    <div flex="15">
        <div ng-controller="tdpInvestDateController">
            <input type="date" ng-model="startDated">
            <input type="date" ng-model="endDated">
        </div>
        <div ui-view="userData"></div>
        <div ng-controller="tdpInvestButtonController">
            <button ng-click='submitRequest()'>button</button>
        </div>
    </div>
    <div flex layout="row">
        <div flex="80" ng-controller="tdpInvestChartController">
            <div id="container" style="width:100%; height:10%;">
                <highchart id="chart1" config="chartConfig"></highchart>
            </div>
        </div>
        <div flex ui-view="table"></div>
    </div>
</div>