<div class="well wrapper">
    <div class="col-lg-8">
        <highchart config="chartConfig"></highchart>
    </div>

    <div class="table-wrapper col-lg-4">
        <table ng-table="tableConfig.params" class="table table-condensed table-bordered table-striped" show-filter="true">
            <tr ng-repeat="row in $data">
                <td title="'Date'" filter="{ date: 'number' }" sortable="'date'">{{ row.date | date: 'yyyy-MM-dd' }}</td>
                <td title="'Value'" filter="{ val: 'text' }" sortable="'val'">{{ row.val }}</td>
            </tr>
        </table>

    </div>

    <div class="select col-lg-12">
        <button class="btn btn-danger" type="file" ngf-select="uploadFiles($file, $invalidFiles)">
            Select CSV File<br> to upload</button>
        <br>
        {{errorMsg}}
    </div>
</div>