<header>

    <nav class="navbar navbar-inverse">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="#/">TDP Invest</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#/compare"><i class="fa fa-home"></i> Compare</a></li>
                <li><a href="#/upload"><i class="fa fa-home"></i> Upload</a></li>
                <li><a href="/auth"><i class="fa fa-shield"></i> Logout</a></li>
            </ul>
        </div>

    </nav>
</header>