<div class="well-wrapper">
    <div id="compare-form" class="well col-lg-3 col-lg-offset-1">
        <form>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" ng-model="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="inputValue">Email</label>
                <input type="number" class="form-control" id="inputValue" ng-model="val" placeholder="Value">
            </div>
            <button ng-click="addInvestment(name, val)" id="add-btn" type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <div id="investments-container" class="well col-lg-6 col-lg-offset-0">
        <h3>Investments</h3>
        <table id="investments-table" ng-table="tableConfig" show-filter="false" class="table table-condensed table-bordered table-striped">
            <tr style="font-weight: bold;">
                <td style="width: 20%;">Amount</td>
                <td style="width: 20%;">Rate</td>
                <td style="width: 30%;">Date from</td>
                <td style="width: 30%;">Date to</td>
            </tr>
            <tr ng-repeat="row in $data track by row.id">
                <td>
                    <span editable-text="row.amount" e-name="amount" e-form="rowform" e-required>
                        {{ showAmount(row) }}
                    </span>
                </td>
                <td>
                    <span editable-text="row.annualRate" e-name="annualRate" e-form="rowform" e-required>
                        {{ showRate(row) }}
                    </span>
                </td>
                <td>
                    <span editable-text="row.startDate" e-name="startDate" e-form="rowform" e-required>
                        {{ showDate(row.startDate) }}
                    </span>
                </td>
                <td>
                    <span editable-text="row.endDate" e-name="endDate" e-form="rowform" e-required>
                        {{ showDate(row.endDate) }}
                    </span>
                </td>
                <td style="white-space: nowrap;">
                    <!--form-->
                    <form editable-form name="rowform" onbeforesave="saveRow(rowform.$data, row.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="removeRow(row.id)">delete</button>
                    </div>
                </td>
            </tr>
        </table>
        <button class="btn btn-default" ng-click="addRow()">Add row</button>
    </div>
</div>