
<div class="row">
<form class="form-horizontal" name="dateRangeForm" id="dateRangeForm">
    <div class="container">
    <div class="row">
        <div class="form-group col-xs-3">
            <label for="start">Begin date:</label><p class="input-group">
            <p class="input-group">
                <input id="start" type="text" placeholder="{{format}}" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </p>


            <label for="end">End date:</label>
            <p class="input-group">
                <input id="end" type="text" placeholder="{{format}}" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <button class="btn btn-default" type="submit" ng-click="submitRange()">Submit</button>
        </div>
    </div>
    </div>
</form>
</div>

<div class="row">
    <div id="container">Placeholder for chart</div>
</div>

<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="query" >Search: </label>
            <div class="input-group">
                <input class="form-control" id="query" ng-model= "query">
            </div>
        </div>
    </form>

    <table class="table investScoreTable">
        <tr>
            <td><a href="#" ng-click="sortType = 'day'; sortReverse = !sortReverse">Day</a></td>
            <td><a href="#" ng-click="sortType = 'month'; sortReverse = !sortReverse">Month</a></td>
            <td><a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">Year</a></td>
            <td><a href="#" ng-click="sortType = 'value'; sortReverse = !sortReverse">Value</a></td>
        </tr>
        <tr ng-repeat="score in filteredDataForView | orderBy:sortType:sortReverse | filter: query ">
            <td>{{score.date.dayOfMonth}}</td>
            <td>{{score.date.month}}</td>
            <td>{{score.date.year}}</td>
            <td>{{score.value}}</td>
        </tr>
    </table>

    <uib-pagination
            ng-model="currentPage"
            total-items="dataForView.length"
            max-size="maxSize"
            boundary-links="true">
    </uib-pagination>
</div>