<nav ui-view="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">TDP Invest</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li><a href="#/compare">Compare</a></li>
            <li><a href="#/upload">Upload</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
    </div>
</nav>