<div> Compare</div>
<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a ng-click="sortTable('date');">Date</a>
                        <span class="" ng-class="{'glyphicon glyphicon-arrow-up' : reverse && sort == 'date', 'glyphicon glyphicon-arrow-down' : !reverse && sort == 'date', '' : sort != 'date'}"></span>
                    </th>

                    <th>
                        <a ng-click="sortTable('price');">Price</a>
                        <span class="" ng-class="{'glyphicon glyphicon-arrow-up' : reverse && sort == 'price', 'glyphicon glyphicon-arrow-down' : !reverse && sort == 'price', '' : sort != 'price'}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in collection | orderBy:sort:reverse">
                    <td>{{item.date}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>