<div class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-heading row">
        <h3>Upload file</h3>
    </div>
    <div class="panel-body">
        <p class="error" ng-show="error">File upload failed. Remember that format of the file should be csv.</p>
        <div ng-show="!showGif">
            <input type="file" nv-file-select uploader="uploader"/><br/>
            <ul>
                <li ng-repeat="item in uploader.queue">
                    Name: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()" class="btn btn-primary">Upload</button>
                </li>
            </ul>
        </div>
        <p class="upload" ng-show="showGif"><span class="glyphicon glyphicon-repeat spin"></span><br>Uploading</p>
    </div>
</div>


