<div>
    <form ng-submit="addPerson(person)">
        <div class="container"><input type="text" name="name" ng-model="person.name"></div>
        <div class="container"><input type="text" name="country" ng-model="person.country"></div>
        <div class="container"><input type="text" name="city" ng-model="person.city"></div>
        <input type="submit" value="Send">
    </form>
    <a ui-sref="tdp">Return</a>
    <br>
    {{persons}}

    <table style="border: solid;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
        </tr>
        </thead>
        <tr ng-repeat="per in persons">
            <td>{{per.name}}</td>
            <td>{{per.country}}</td>
            <td>{{per.city}}</td>
        </tr>
    </table>
</div>


