<div class="container-fluid">
<div class="center-block wrapper">
    <h2>Home</h2>
    <div class="row">
        <div class="col-md-4">
            <label>Pick the start date:</label>
                <p class="input-group">
                    <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="dt" is-open="popup1.opened"
                           datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()">
                    <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
        </div>
        <div class="col-md-4">
            <label>Pick the finish date:</label>
                <p class="input-group">
                    <input type="text" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened"
                           datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()">
                    <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
        </div>
        <div class="col-md-4">
            <button ng-click="updateChart(minDate, maxDate)" class="btn btn-primary btn-lg btn-block show-me-btn">Show me!</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-hide="dataError">
            <highchart config="chartConfig"></highchart>
        </div>
        <div id="no-data-div" class="col-md-12" ng-show="dataError">
            <span>NO DATA</span>
        </div>
    </div>

    <div class="row padding-20">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table  ng-table-dynamic="tableParams with cols" class="table table-condensed table-bordered table-hover" >
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns">{{row[col.field]}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>