<div class="container">
    <div class="col-md-9">
        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    </div>
    <div class="col-md-3">
        <div>
            <table class="table" style="margin-bottom: 0px;">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Value</th>
                </tr>
                </thead>
            </table>

        </div>
        <div class="content">
            <table class="table">
                <tbody>
                <tr ng-repeat="row in mydata">
                    <td>{{row[0] | date: 'yyyy-MM-dd'}}</td>
                    <td>{{row[1]}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>