<tdp-chart ng-if="prices && dates" prices="prices" dates="dates"></tdp-chart>

<tdp-table ng-if="stockData" stock-data="stockData" class="col-md-6"></tdp-table>

<div class="col-md-6">

    <div class="form-group col-md-12">
        <label class="col-md-4 control-label">Input</label>
        <div class="col-md-5">
            <input name="input_value" type="text" class=" form-control" placeholder="300" ng-model="input_value"/>
        </div>
    </div>

    <div class="form-group col-md-12">
        <label class="col-md-4 control-label">Interest Rate</label>
        <div class="col-md-5">
            <input name="interest_rate" type="text" class=" form-control" placeholder="0.02" ng-model="interest_rate"/>
        </div>
    </div>

    <tdp-calendar get-stock-data="getStockData"></tdp-calendar>
</div>