.show-me-btn {
  margin-top: 15px;
}

.wrapper {
  width: 70%;
  text-align: center;
}

.padding-20 {
  padding: 20px;
}


a:hover {
  cursor: pointer;
}

#clear-button {
    font-size: 50px;
    padding: 50px;
    border-radius: 100%;
}

#no-data-div {
    display: block;
    background-color: #2a2a2b;
    height: 500px;
    line-height: 500px;
    color: #E0E0E3;
    font-size: 64px;
    font-family: "'Unica One', sans-serif";

}