html, body{
    height: 100%;
}

h1{
    text-align: center;
}

.ui-template{
    height: 100%;
}

footer{
    text-align: center;
}

.wrapper{
    margin: 10px;
    overflow:auto;
}

.table-wrapper{
    height: 488px;
}

#compare-form{
    overflow:auto;
}

#add-btn{
    float: right;
    width: 100px;
}