html, body{
    height: 100%;
}

h1{
    text-align: center;
}

.ui-template{
    height: 100%;
}

footer{
    text-align: center;
}

.table>tbody{
    display:block;
    height:300px;
    overflow:scroll;
}
